<div data-company-lookup-target="newCompanyFields" style="display: none;">
  <h3>Company Information</h3>
  <p><em>Please provide additional details about your company</em></p>

  <div class="field">
    <%= label_tag :company_description, "Company Description" %><br />
    <%= text_area_tag :company_description, nil, rows: 4, placeholder: "Brief description of your company..." %>
  </div>

  <div class="field">
    <%= label_tag :company_website, "Website" %><br />
    <%= text_field_tag :company_website, nil, placeholder: "https://example.com" %>
  </div>

  <div class="field">
    <%= label_tag :company_industry, "Industry" %><br />
    <%= text_field_tag :company_industry, nil, placeholder: "e.g., Technology, Healthcare, Finance" %>
  </div>

  <div class="field">
    <%= label_tag :company_size, "Company Size" %><br />
    <%= select_tag :company_size, options_for_select(Company::SIZES), include_blank: "Select company size..." %>
  </div>

  <div class="field">
    <%= label_tag :company_founded_in, "Founded In" %><br />
    <%= number_field_tag :company_founded_in, nil, min: 1800, max: Date.current.year, placeholder: "e.g., 2010" %>
  </div>

  <div class="field">
    <%= label_tag :company_headquarters, "Headquarters" %><br />
    <%= text_field_tag :company_headquarters, nil, placeholder: "e.g., San Francisco, CA" %>
  </div>
</div>
