<%= f.hidden_field :recruiter_type, value: 'recruiter' %>

<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, autofocus: true, autocomplete: "first-name", placeholder: "e.g., Jane" %>
</div>

<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, autocomplete: "last-name", placeholder: "e.g., Doe" %>
</div>
