<%= f.hidden_field :recruiter_type, value: 'recruiter' %>

<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true, autocomplete: "first-name" %>
</div>

<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, autocomplete: "last-name" %>
</div>
