<div class="company-profile">
  <h1><%= @company.name %></h1>

  <div class="company-details">
    <%= render 'companies/description', company: @company %>

    <div class="company-info-grid">
      <%= render 'companies/info_item', label: 'Industry', value: @company.industry %>
      <%= render 'companies/info_item', label: 'Company Size', value: @company.size %>
      <%= render 'companies/info_item', label: 'Founded', value: @company.founded_in %>
      <%= render 'companies/info_item', label: 'Headquarters', value: @company.headquarters %>
      <%= render 'companies/website_item', website: @company.website %>
    </div>
  </div>

  <%= render 'companies/job_offers_section', company: @company %>

  <%= render 'companies/recruiters_section', company: @company %>

  <%= render 'companies/admin_actions', company: @company %>
</div>
