<h3><%= link_to job_offer.position, job_offer %></h3>

<div class="job-summary-details">
  <p>
    <strong>Company:</strong>
    <%= link_to job_offer.recruiter.company.name, company_path(job_offer.recruiter.company) %>
  </p>

  <p><strong>Location:</strong> <%= job_offer.location %></p>
  <p><strong>Work Mode:</strong> <%= job_offer.work_mode.humanize %></p>
  <p><strong>Experience:</strong> <%= job_offer.experience_level.humanize %></p>
</div>

<%= render 'job_offers/salary_info', job_offer: job_offer %>

<p><strong>Description:</strong> <%= truncate(job_offer.description, length: 150) %></p>
<p class="read-more"><%= link_to "See full job offer", job_offer %></p>
<p><small>Posted: <%= time_ago_in_words(job_offer.created_at) %> ago</small></p>
