<div class="recruiter-profile">
  <h1><%= @recruiter.first_name %> <%= @recruiter.last_name %></h1>

  <%= render 'recruiters/basic_info', recruiter: @recruiter %>

  <%= render 'recruiters/job_offers_list', recruiter: @recruiter %>

  <% if current_recruiter == @recruiter %>
    <%= render 'recruiters/personal_actions' %>
  <% end %>
</div>